<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Finance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="/transactions">Home</a>
        <a href="/add">Add Transaction</a>
        <!-- <a href="/transactions">View Transactions</a> -->
    </nav>
    <div class="container">
        <h3>Welcome to Personal Finance Management</h3>
    </div>
</body>
</html>